@mixin noselect {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

$bkgd-color: #2f4f4e;

*, *:before, *:after {
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: arial;
}

h2 {
	text-transform: uppercase;
	font-weight: 300;
}

.button {
	text-transform: uppercase;
	padding: 4px 8px;
	border: 1px solid;
	text-align: center;
	display: inline-block;
	border-radius: 2px;
	cursor: pointer;
	@include noselect;
}

header {
	height: 50px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
	background: $bkgd-color;
	color: #fff;
	font-size: 14px;

	.header-inner {
		max-width: 960px;
		height: 100%;
		margin:0 auto;
		display: flex;
		align-items: center;
		padding: 10px 11px;

		>div {
			width: calc(100% / 3);

			&:nth-child(2) {
				text-align: center;
			}
			&:nth-child(3) {
				text-align: right;
			}
		}
	}
}
main {
	padding-top: 50px;
	background: #eee;
	overflow: auto;
}
.page-options {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #eee;

	&.options-open {
		display: block;
	}
	.options-inner {
		overflow: hidden;
		position: relative;
		top: 50px;
		max-width: 300px;
		margin: 0 auto;

		> * {
			width: 100%;
		}
	}

	input {
		font-size: 14px;
		margin: 4px 0 12px;
		padding: 8px;
		border: 1px solid #bbb;
	}
	.button {
		width: auto;
		float: right;
		margin-top: 10px;
		background: #2f4f4e;
		color: #fff;
		border: 2px solid #ddd;
	}
}

#vm {
	overflow: auto;
}

.grid {
	margin: 0 auto;
	border: 10px solid #bbb;
	overflow: hidden;
	font-family: "Courier New", Courier, monospace;
	font-size: 16px;

	.square {
		background: #d2d2d2;
		border: .5px solid #aaa;
		float: left;
		position: relative;
		cursor: pointer;
		font-weight: bold;
		box-shadow: inset 2px 2px 1px 0px #e7e7e7;
		@include noselect;

		&.clicked {
			background: #e7e7e7;
			box-shadow: none;

			&.mine {
				background: #000;

				&.flagged {
					background: #00d;
				}
			}
		}
		&.flagged {
			background: #663399;
			box-shadow: none;

			&.wrong-flag {
				background: #d00;
			}
		}

		>div {
			position: absolute;
			display: flex;
			top: 3px;
			right: 0px;
			bottom: 0;
			left: 0;
			align-items: center;
			justify-content: center;
		}
	}
}