<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- <script src="https://use.fontawesome.com/d5895a3b55.js"></script> -->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<link rel="stylesheet" href="styles.min.css" type="text/css" />

		<title>Minesweeper</title>
	</head>
	<body>
		<div id="vm">
			<header>
				<div class="header-inner">
					<div>{{safeRemaining}}</div>
					<div>
						<div class="button" @click="newGame()">
							New game
						</div>
					</div>
					<div>
						<div class="button" @click="showOptions(false)" v-if="optionsOpen">
							Back
						</div>
						<div class="button" @click="showOptions()" v-else>
							Options
						</div>
					</div>
				</div>
			</header>
			<main :style="{ height: windowHeight }">
				<div class="grid" :style="{'max-width': gridMaxWidth + 'px'}" v-if="squareData.length">
					<div class="square"
						v-for="(square, index) in squareData"
						:class="{
							'clicked': square.clicked,
							'flagged': square.flagged,
							'mine': square.clicked && square.hasMine,
							'wrong-flag': gameOver && square.flagged && !square.hasMine
						}"
						:style="{
							width: squareWidth + '%',
							'padding-bottom': 'calc(' + squareWidth + '% - 1px)',
							color: getColor(square.surroundingMines)
						}"
						@click="clickSquare(index)"
						@contextmenu.prevent="rightClickSquare(index)"
					>
					<div v-if="square.surroundingMines">{{square.surroundingMines}}</div>
					</div>
				</div>
			</main>
			<div class="page-options" :class="{'options-open': this.optionsOpen}">
				<div class="options-inner">
					<h2>Options</h2>

					<label>Grid Width:</label>
					<input type="number" v-model="data_options.gridWidth" />

					<label>Grid Height:</label>
					<input type="number" v-model="data_options.gridHeight" />

					<label>Number of Mines:</label>
					<input type="number" v-model="data_options.totalMines" />

					<div class="button" @click="newGame()">New Game</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="scripts.min.js"></script>
	</body>
</html>